.rodape__oportunidades{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--cinza-de-fundo);
}
.rodape__oportunidades--titulo{
    font-weight: 600;
    font-size: 36px;
    padding: 3em 0 .7em 0;
    max-width: 1440px;
    margin: 0 auto;
}
.rodape__oportunidades--texto{
    font-weight: 400;
    font-size: 20px;
    color: var(--cinza-claro);
    padding-bottom: 2.5em;
}
.email{
    display: inline;
}
.email__campo{
    width: 360px;
    height: 46px;
    margin-bottom: 2.5em;
    border: 1px solid var(--cinza);
    border-radius: 8px;
}
.email__campo::placeholder{
    padding-left: .7em;
    font-weight: 400;
    font-size: 16px;
}
.email__botao{
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    font-size: 16px;
    padding: 1em;
    border-radius: 8px;
    background-color: var(--vermelho-vinho);
    margin-left: 1em;
}
.rodape__oportunidades--copyright{
    font-weight: 400;
    font-size: 16px;
    color: var(--cinza);
    padding-bottom: 6em;
}