.vagas__container{
    text-align: center;
}
.vagas__container--topico{
    font-weight: 500;
    font-size: 14px;
    color: var(--vermelho-vinho);
    padding: .5em;
    background-color: var(--rosa-de-fundo);
    width: 125px;
    margin: 0 auto;
    border-radius: 16px;

}
.vagas__container--titulo{
    padding-top: .5em;
    font-weight: 600;
    font-size: 36px;
    padding-bottom: 1em;
}
.vagas__container--paragrafo{
    font-weight: 400;
    font-size: 20px;
    color: var(--cinza-claro);
}
.vagas__imagem{
    padding: 4em 7em 0 7em;
}
.vagas__coluna{
    margin: 0 auto;
    max-width: 1280px;
}
.vagas__lista{
    display: grid;
    gap: 24px;
    max-width: 768px;
    margin: 0 auto;
}
.vagas__lista--area{
    font-weight: 500;
    font-size: 20px;
    padding: 4em 0 1em 0;
}
.vagas__card{
    padding: 1.5em 1.5em 1.7em 1.5em;
    border: 1px solid var(--cinza-borda);
    border-radius: 16px;
}
.vagas__card--titulo{
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 2.5em;
}

.vagas__card--info{
    display: flex;
    gap: 1.2em;
}
.vagas__card--descricao{
    font-weight: 500;
    font-size: 16px;
    color: var(--cinza-claro);
}
